*{
   margin: 0;
}

body{

    background-color: #F8F0E5;
}

h1{
color: aliceblue;
}

header{
    height: 15vh;
    width: 100%;
    background: 100%;
    background-color:#27374D;
}


section{

    background-color: #9DB2BF;
    height: 38vh;

}


.secao{ 

    background-color: #DDE6ED;

}

#Cabecalho{

    font-family: 'Times New Roman', Times, serif;

}

footer{
    height: 20vh;
    width: 100%;
    background: 100%;
    background-color: #27374D;
}
