body{

    background-color: #F1EFEF;
}


h1{
color: #79AC78;
font-size: 50px;
font-family: cursive;
}

p{
  color: rgb(97, 125, 252);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
